body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
    color: #e5e7eb;
}

.heroes {
    display: flex;
    justify-content: center;
    padding: 84px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
}

.hero-seco-text {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 6px;
    width: 100px;
    height: 30px;
}

.image-placeholder {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
    margin: 8px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    padding: 96px;
}

.cta-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 16px;
}

.cta {
    display: flex;
    justify-content: center;
    gap: 24px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 5px solid #3882f6;
}

.cta1 .cta2 .cta3 .cta4 {
   display: flex;
   max-width: 150px;
   max-height: 150px;
}

.caption1 .caption2 .caption3 .caption4 {
    display: flex;
    flex-wrap: wrap;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 84px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex-wrap: wrap;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 18px;
}

.white {
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.blue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    width: 1725px;
    height: 75px;
    border-radius: 5px;
}

.blue-text {
    color: #e5e7eb;
}

.blue-text-header {
    font-size: 28px;
}

.blue-extra {
    display: flex;
    align-items: center;
}

.blue-button {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
    border-radius: 5px;
    width: 85px;
    height: 30px;
}
